<div clas="wrapper">
  <canvas class="chart" id="myChart"></canvas>
</div>
<div id="chartjs-tooltip" class="center bottom">
  <h1 class="title" id="title">Monday, November 13, 2017 12:00 AM</h1>
  <div>
    <li class="blue">
      <span class="body-text">From 6 Locations</span>
      <span class="body-text blue" id="p2p-value">16.41</span>
      <span class="body-text blue"></span>
    </li>
    <div class="separator"></div>
    <span class="body-text"
      >Total Average:
      <span id="spn-leads" class="body-text green" id="total-value"> </span
      ><span class="body-text green">54,304</span>
    </span>
    <br />
    <span class="body-text">Best buy:
      <span id="best-buy" class="body-text green">
      </span>
    </span>
    <br/> 
    <span class="body-text">Best sell:
      <span id="best-sell" class="body-text green">
      </span>
    </span>
    <br />
  </div>
</div>